body{ 
width: 50%;
margin: auto;
font-family:sans-serif;
color: white;
background: black;}


main {background-color: #d6d6d60f; 
  padding: 5px 40px;
  margin-top: 20px; 
  border-radius: 12px;}

h1, h2, p, div{text-align: center;}

div{background-color: #d6d6d60f; padding: 5px 40px;
  margin-top: 20px; 
  margin-bottom: 20px;
  border-radius: 12px;}

p{ font-size: 22px;}
 
  img{margin-left: auto; 
    margin-right: auto; 
    display: block; 
  width: 620px}

  iframe{border-radius: 12px; align-content: center}

  
  
