body{ 
    width: 50%;
    margin: auto;
    font-family:sans-serif;
    color: #FFFFFF;
    background: #000000;}
    
    
    main {background-color: #d6d6d60f; 
      padding: 5px 40px;
      margin-top: 20px; 
      border-radius: 12px;}
    
     h2, p, body, a, div {text-align: center;}
    
    div{background-color: #d6d6d60f; padding: 5px 40px;
      margin-top: 20px; 
      margin-bottom: 20px;
      border-radius: 12px;}
    
    p{ font-size: 22px;}
        
    body{display: block; 
        margin-left: auto;
         margin-right: auto}
 
 img {display: block;
    margin-left: auto;
    margin-right: auto; width: 1000px; }

 video{align-content: center;}



    

